<ol>
    <li>Closures</li>
    <li>Object.create</li>
    <li>Prototypes</li>
    <li>Different ways to create an object in JavaScript</li>
    <li>Function expression vs Function declaration</li>
    <li>Significance of <code>use strict</code></li>
    <li><code>null</code> vs <code>undefined</code> with explanation
    </li>
    <li>Number of ways to delete an element from an array
    </li>
    <li>A deep copy of an object
    </li>
    <li>Storage in a browser: Local Storage vs session Storage
    </li>
    <li>What is an event?
        <br>
        1. How does event propagation take place?
        <br>
        2. <code>stopPropagation</code> vs <code>stopImmediatePropagation</code></li>
    <li><code>for of</code> vs <code>for in</code>
    </li>
    <li>How can you implement Inheritance, Encapsulation and Abstraction in JS?
    </li>
</ol>
