<ol>
    <li><a href="https://www.pluralsight.com/courses/advanced-javascript" target="_blank">Advance JS ($)</a>
    </li>
    <li><a href="https://medium.com/dailyjs" target="_blank">DailyJS</a></li>
    <li><a href="https://www.toptal.com/javascript" target="_blank">JS interview questions</a></li>
    <li><a href="https://www.toptal.com/angular-js/interview-questions" target="_blank">AngularJS interview
        questions</a></li>
    <li><a href="https://medium.com/dailyjs/parseint-mystery-7c4368ef7b21" target="_blank">ParseInt mystery</a>
    </li>
    <li><a href="https://medium.com/dailyjs/parseint-mystery-7c4368ef7b21" target="_blank">isArray</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP" target="_blank">HTTP Concept</a></li>
</ol>
