<ol>
    <li>Components vs Directives</li>
    <li>componentFactoryResolver</li>
    <li>Decorator design pattern</li>
    <li>What are the modules, component and service?
        * How many types of modules are there?
        * Can you add multiple modules in a single angular application?
    </li>
    <li>How to detect changes in the input property passed from parent to child component?</li>
    <li>How to pass data from child to parent component?</li>
    <li>Lifecycle methods in angular</li>
    <li>Observables vs Promises in angular</li>
    <li>Data sharing between parent to child using -

        <code>@Input</code>
    </li>

    <li>Data sharing between child to parent using -

        <code>@ViewChild, @Output and Event-emiiter</code>
    </li>

    <li>AOT vs JIT, which one is better</li>
    <li>Dependency injection</li>
    <li>How would you create a filter using angular?</li>
    <li><code>Constructor</code>vs <code>ngOnInit</code></li>
    <li>Change detection and strategies - how to forcefully detect changes?</li>
    <li>DOM Sanitization</li>
    <li>Security Practices in angular</li>
    <li>View Encapsulation</li>
    <li>IVY</li>
    <li>Route guards</li>
</ol>
