<ol>
    <li>How to align a div vertically and horizontally
        centered?
        <ul>
            <li>Fixed dimension</li>
            <li>Dynamic dimension</li>
        </ul>
    </li>
    <li>Box model?</li>
    <li>Pseudo classes <code>(:hover, :active)</code> vs pseudo elements <code>(:after, :before)</code></li>
    <li>Positions - fixed, relative, absolute, static, sticky</li>
    <li>Explain the following CSS selectors
<pre>
div, p
div p
div > p
div + p
div ~ p
</pre>
    </li>
    <li>What are CSS media queries and what are they used for?</li>
    <li>Bootstrap</li>
    <li>CSS Pre-processors
        <ul>
            <li>sass/scss</li>
            <li>less</li>
        </ul>
    </li>
    <li>Flexbox</li>
    <li><code>box-shadow</code></li>
    <li><code>box model</code></li>
    <li><code>box-sizing</code></li>
    <li>Display properties - none, block, inline, inline-block</li>
    <li>vm, em, rem, vh, vw font-size properties</li>
    <li>CSS Animations</li>
    <li>How would you align an image to a circular div, just like on Instagram?</li>
    <li>How would you write a code to freeze the top row and column of a table?</li>
</ol>
